@page "/Project/Details/{projectId}"
@using BO.Models
@model UI.Pages.Projects.DetailsModel
@{
    int cardCount = Model.Project?.Products.Count < 4 ? Model.Project.Products.Count : 3;
}
<style>
    .carousel .carousel-item {
        height: 500px;
    }

    .carousel-item .img {
        object-fit: cover;
        image-position: center;
        position: absolute;
        top: 0;
        left: 0;
        min-height: 500px;
    }
</style>
<div id="carouselExample" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        //TODO - replace with real data
        <div class="carousel-item active">
            <img width="50px" src="https://file4.batdongsan.com.vn/2024/03/03/20240303211226-5260_wm.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img width="auto" src="https://file4.batdongsan.com.vn/2024/03/03/20240303211222-780d_wm.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img width="auto" src="https://file4.batdongsan.com.vn/2024/03/03/20240303211219-d8aa_wm.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
@* TODO - replace wit real data *@
<h1 class="title">Tổng quan @Model.Project!.ProjectTitle <span class="badge rounded-pill bg-success">@Model.Project.ProjectStatus</span></h1>
<div class="row">
    <div class="col-8">
        <div class="row">
            <div style="position:relative">
                <div id="mainContent" class="hideContent">
                    @Model.Project.ProjectContent
                </div>
                <div style="position: absolute; bottom: 0; width: 100%">
                    <div class="gradient">&nbsp;</div>
                    <div class="show-more">
                        <a href="#">Xem thêm</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Sản phẩm trong dự án
            </div>
            <div class="card-body overflow-auto" style="white-space: nowrap !important">
                @for (int i = 0; i < Model.Project.Products.Count; i++)
                {
                    Product product = @Model.Project.Products.ElementAt(i);
                    <div class="d-inline-block" style="width: 200px">
                        <div class="card">
                            <img class="card-img-top" src="https://file4.batdongsan.com.vn/2024/03/03/20240303211226-5260_wm.jpg" height="100px" width="auto" style="object-fit: cover"/>
                            <div class="cardd-body" style="padding: 16px">
                                <p class="card-title text-truncate">@product.ProductTitle</p>
                                <br />
                                <a class="btn btn-primary" href="/Product/Details/@product.Id">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="col-4">
        <h1>Thông tin nhà đầu tư</h1>
        <div class="row" style="margin-left: 14px; line-height: 3rem;">
            <div class="col-12 row">
                <span class="col-4 fw-bold" style="margin-right: 30px">Số điện thoại</span>
                <span class="col">@Model.Project.Investor?.Phone</span>
                @if (Model.Project.Investor == null)
                {
                    <span class="col">Unknown</span>
                }
            </div>
            <div class="col-12 row">
                <span class="col-4 fw-bold" style="margin-right: 30px">Email</span>
                <span class="col">@Model.Project.Investor?.Email</span>
                @if (Model.Project.Investor == null)
                {
                    <span class="col">Unknown</span>
                }
            </div>
        </div>
        <br />
        <h1>Thông tin dự án</h1>
        <div class="row" style="margin-left: 14px; line-height: 3rem;">
            <div class="col-12 row">
                <span class="col-4 fw-bold" style="margin-right: 30px">Số dự án</span>
                <span class="col">@Model.Project.Products.Count dự án</span>
            </div>
            <div class="col-12 row">
                <span class="col-4 fw-bold" style="margin-right: 30px">Địa chỉ</span>
                <span class="col">@Model.Project.ProjectLocation</span>
            </div>
            <div class="col-12 row">
                <span class="col-4 fw-bold" style="margin-right: 30px">Google maps</span>
                <span class="col"><a href="@Model.Project.ProjectGeoLocationUrl" target="_blank">Nhấn để xem chi tiết (@Model.Project.ProjectGeoLocationUrl)</a></span>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/project_list.js">
</script>